.navbar {
  .nav-link {
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: 14px;
  }
}

.navbar {
  .nav-link.active {
    border-left: 3px solid #444;
  }
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background-image: url("../img/image1.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background-image: url("../img/image2.jpg");
  background-size: cover;
}
.carousel-image-3 {
  background-image: url("../img/image3.jpg");
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background-image: url("../img/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.7);
  }
}
